@model NoviaReport.Models.Profile
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateProfile</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Ajouter un profil : </legend>
            @Html.LabelFor(m => Model.Firstname)
            @Html.TextBoxFor(m => Model.Firstname)
            @Html.ValidationMessageFor(m => Model.Firstname)
            <br />
            @Html.LabelFor(m => Model.Lastname)
            @Html.TextBoxFor(m => Model.Lastname)
            @Html.ValidationMessageFor(m => Model.Lastname)
            <br />
            <input type="submit" value="Ajouter" />
        </fieldset>
        <a href="/home/SeeProfiles">Retour vers la liste des profils</a>
    }
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    </body>
</html>