@model NoviaReport.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateUser</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>

            <legend>Ajouter un utilisateur : </legend>
            <!-- texts box pour le login, le mot de passe, les infos profile, contact et adresse -->
        @Html.LabelFor(m => Model.Login)
            @Html.TextBoxFor(m => Model.Login)
            @Html.ValidationMessageFor(m => Model.Login)
            <br />
            @Html.LabelFor(m => Model.Password)
            @Html.PasswordFor(m => Model.Password) <!-- mdp pas encodé pour le moment-->
        @Html.ValidationMessageFor(m => Model.Password)
            <br />
            <p>Identité </p>
            @Html.LabelFor(m => Model.Firstname)
            @Html.TextBoxFor(m => Model.Firstname)
            @Html.ValidationMessageFor(m => Model.Firstname)
            <br />
            @Html.LabelFor(m => Model.Lastname)
            @Html.TextBoxFor(m => Model.Lastname)
            @Html.ValidationMessageFor(m => Model.Lastname)
            <br />
            <p>Contact </p>
            @Html.LabelFor(m => Model.Contact.PersonalMail)
            @Html.TextBoxFor(m => Model.Contact.PersonalMail)
            @Html.ValidationMessageFor(m => Model.Contact.PersonalMail)
            <br />
            @Html.LabelFor(m => Model.Contact.PersonalPhone)
            @Html.TextBoxFor(m => Model.Contact.PersonalPhone)
            @Html.ValidationMessageFor(m => Model.Contact.PersonalPhone)
            <br />
            @Html.LabelFor(m => Model.Contact.ProMail)
            @Html.TextBoxFor(m => Model.Contact.ProMail)
            @Html.ValidationMessageFor(m => Model.Contact.ProMail)
            <br />
            @Html.LabelFor(m => Model.Contact.ProPhone)
            @Html.TextBoxFor(m => Model.Contact.ProPhone)
            @Html.ValidationMessageFor(m => Model.Contact.ProPhone)
            <br />
            <p>Adresse</p>
            @Html.LabelFor(m => Model.Contact.Street)
            @Html.TextBoxFor(m => Model.Contact.Street)
            @Html.ValidationMessageFor(m => Model.Contact.Street)
            <br />
            @Html.LabelFor(m => Model.Contact.PostalCode)
            @Html.TextBoxFor(m => Model.Contact.PostalCode)
            @Html.ValidationMessageFor(m => Model.Contact.PostalCode)
            <br />
            @Html.LabelFor(m => Model.Contact.City)
            @Html.TextBoxFor(m => Model.Contact.City)
            @Html.ValidationMessageFor(m => Model.Contact.City)
            <br />
            <!-- liste déroulante et check box pour les infos pro et le manager -->
            <legend>Rôle de l'employé</legend>
            <input id="ADMIN" type="checkbox" value="ADMIN" name="ADMIN" />
            <label for="ADMIN">Admin</label>
            <br />
            <input id="MANAGER" type="checkbox" value="MANAGER" name="MANAGER" />
            <label for="MANAGER">Manager</label>
            <br />
            <input id="SALARIE" type="checkbox" value="SALARIE" name="SALARIE" />
            <label for="SALARIE">Salarié</label>
            <br />
            @Html.LabelFor(m => Model.ProfessionalInfo.Position)
            <select id="Position" name="Position">
                <option value="">Position</option>
                <option value="0">CADRE</option>
                <option value="1">DIRECTEUR</option>
                <option value="2">SALARIE</option>
            </select>
            <br />
            @Html.LabelFor(m => Model.ProfessionalInfo.Function)
            <select id="Function" name="Function">
                <option value="">Function</option>
                <option value="0">INGENIEUR</option>
                <option value="1">DEVELOPPEUR</option>
                <option value="2">COMMERCIAL</option>
                <option value="3">RH</option>
                <option value="4">TECHNICIEN</option>
                <option value="5">RESPONSABLE_RESEAU</option>
                <option value="6">RESPONSABLE_SECURITE</option>
                <option value="7">CHEF_DE_PROJET</option>
                <option value="8">DIRECTEUR_COMMERCIAL</option>
                <option value="9">DIRECTEUR_GENERAL</option>
                <option value="10">PDG</option>
            </select>

            <br />
            @Html.LabelFor(m => Model.ProfessionalInfo.DateOfArrival)
            <input id="Model.ProfessionalInfo.DateOfArrival" type="date" />
            <br />
            <!--On veut récupérer le nom des manager donc il faut aller chercher ceux qui ont le Type=1 dans la 
            table Role puis avec leur UserId retrouver le User puis avec le profileId récupérer le nom ! Chiant-->
            @*@Html.LabelFor(m => Model.ManagerId)
            <select id="Manager" name="Manager">
                <option value="">--Choisissez une option--</option>
                <option value="0" name="Aucun manager">Aucun manager</option>
                @foreach (NoviaReport.Models.User user in ViewData["ManagerList"] as List<NoviaReport.Models.User>)
                {
                    <option value="@user.Id" name="@user.Lastname">@user.Lastname</option>
                }
            </select>*@

            <br />

            <input type="submit" value="Ajouter" />
        </fieldset>
        <a href="/home/index">Pour le moment retour vers l'index -> Changer ce lien pour un lien vers le dashboard de l'admin</a>
        //lien à modif quand le dashboard de l'admin sera créé
    }
    @*<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
</body>
</html>