@model NoviaReport.Models.User
@{
    Layout = null;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="/css/StyleCreateUser.css" rel="stylesheet"/>

<body>

   @using (Html.BeginForm())
   {
       <fieldset>

            <legend>Ajouter un utilisateur : </legend>
            <!-- texts box pour le login, le mot de passe, les infos profile, contact et adresse -->
            
                <div class="Corpsformulaire">
                    <div class="gauche">

                        <div>
                            <h3>Login et mot de passe</h3>
                            <div class="groupe">
                                @Html.LabelFor(m => Model.Login)
                                @Html.TextBoxFor(m => Model.Login, new {@class= "Input" })
                                @Html.ValidationMessageFor(m => Model.Login)
                                <i class="fa-solid fa-user"></i>

                            </div>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.Password)
                                @Html.PasswordFor(m => Model.Password, new {@class= "Input Password" })
                                @Html.ValidationMessageFor(m => Model.Password)
                                <i class="fa-solid fa-lock"></i>

                            </div>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.Password, "Confirmez votre mot de passe")
                                @Html.PasswordFor(m => Model.Password, new {@class= "Input Password" })
                                @Html.ValidationMessageFor(m => Model.Password)
                                <i class="fa-solid fa-lock"></i>

                            </div>


                        </div>


                        <div>
                            <h3>Identité </h3>
                            <div class="groupe">
                                @Html.LabelFor(m => Model.Firstname)
                                @Html.TextBoxFor(m => Model.Firstname, new {@class= "Input" })
                                @Html.ValidationMessageFor(m => Model.Firstname)
                            </div>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.Lastname)
                                @Html.TextBoxFor(m => Model.Lastname, new {@class= "Input" })
                                @Html.ValidationMessageFor(m => Model.Lastname)
                            </div>
                        </div>



                        <div>
                            <h3>Contact</h3>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.Contact.PersonalMail)
                                @Html.TextBoxFor(m => Model.Contact.PersonalMail, new {@class= "Input Mail"})
                                @Html.ValidationMessageFor(m => Model.Contact.PersonalMail)
                                <i class="fa-solid fa-envelope"></i>
                            </div>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.Contact.PersonalPhone)
                                @Html.TextBoxFor(m => Model.Contact.PersonalPhone, new {@class= "Input Tel"})
                                @Html.ValidationMessageFor(m => Model.Contact.PersonalPhone)
                                <i class="fa-solid fa-phone"></i>

                            </div>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.Contact.ProMail)
                                @Html.TextBoxFor(m => Model.Contact.ProMail,new {@class= "Input Mail"})
                                @Html.ValidationMessageFor(m => Model.Contact.ProMail)
                                <i class="fa-solid fa-envelope"></i>
                            </div>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.Contact.ProPhone)
                                @Html.TextBoxFor(m => Model.Contact.ProPhone,new {@class= "Input Tel"})
                                @Html.ValidationMessageFor(m => Model.Contact.ProPhone)
                                <i class="fa-solid fa-phone"></i>


                            </div>
                        </div>

                    </div>


                    <div class="droite">

                        <div>
                            <h3>Adresse</h3>
                            <div class="groupe">
                                @Html.LabelFor(m => Model.Contact.Street)
                                @Html.TextBoxFor(m => Model.Contact.Street,new {@class= "Input"})
                                @Html.ValidationMessageFor(m => Model.Contact.Street)
                                <i class="fa-solid fa-road" ></i>
                            </div>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.Contact.PostalCode)
                                @Html.TextBoxFor(m => Model.Contact.PostalCode,new {@class= "Input"})
                                @Html.ValidationMessageFor(m => Model.Contact.PostalCode)

                            </div>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.Contact.City)
                                @Html.TextBoxFor(m => Model.Contact.City,new {@class= "Input"})
                                @Html.ValidationMessageFor(m => Model.Contact.City)
                                <i class="fa-sharp fa-solid fa-city"></i>
                            </div>

                        </div>


                        
                        <div>
                            <h3>Rôle de l'employé</h3>
                                @foreach (var item in Enum.GetValues(typeof(NoviaReport.Models.TypeRole)))
                                {
                                <input type="checkbox" class="checkbox" id=@item value=@item name="TypeRoles" />
                                <label id="@item ">@item</label>
                                }

                            <div class="groupe">
                                @Html.LabelFor(m => Model.ProfessionalInfo.Position)
                                <select id="Position" name="ProfessionalInfo.Position" class="choix">
                                    <option value="">Position</option>
                                @foreach (var item in Enum.GetValues(typeof(NoviaReport.Models.Position)))
                                {
                                        <option value=@item name="Position">@item</option>
                                }
                                </select>
                            </div>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.ProfessionalInfo.Function)
                                <select id="Function" name="ProfessionalInfo.Function" class="choix">
                                    <option value="">Function</option>
                                @foreach (var item in Enum.GetValues(typeof(NoviaReport.Models.Function)))
                                {
                                        <option value=@item name="Function">@item</option>
                                }
                                </select>
                            </div>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.ProfessionalInfo.DateOfArrival)
                                <input id="ProfessionalInfo.DateOfArrival" type="date" class="choix" />
                            </div>

                            <div class="groupe">
                                @Html.LabelFor(m => Model.ManagerId)
                                <select id="ManagerId" name="ManagerId" class="choix">
                                    <option value="">--Choisissez une option--</option>
                                    <option value=0 name="Aucun manager" class="choix">Aucun manager</option>
                                @foreach (NoviaReport.Models.User user in ViewData["ManagerList"] as List<NoviaReport.Models.User>)
                                {
                                        <option value=@user.Id name="ManagerId">@user.Lastname</option>
                                }
                                </select>
                            </div>
                        </div>


                    </div>


                </div>


                <input type="submit" value="Ajouter" />





            

            
       </fieldset>          

                

        

            
           
        
        
        <a href="/home">Pour le moment retour vers l'index -> Changer ce lien pour un lien vers le dashboard de l'admin</a>
        //lien à modif quand le dashboard de l'admin sera créé
   }
        @*<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate-vsdoc.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.js"></script>*@
</body>