@model NoviaReport.ViewModels.CraActivitiesViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListActivitiesCRA</title>
</head>
<body>

    <p>Etat du CRA : </p>
    <p>@Model.Cra.State</p>


    <fieldset>
        <legend>Liste Activités CRA</legend>
        <table border="1">
            <tr>
                <th>Date Activité </th>
                <th>Type d'activité</th>
                <th>Client</th>
                <th>Date du CRA</th>
            </tr>
            @foreach (NoviaReport.Models.CraActivity craActivity in Model.CraActivities as List<NoviaReport.Models.CraActivity>)
            {
                <tr>
                    <td>@craActivity.Activity.Date.ToString("d")</td>
                    <td>@Html.DisplayFor(ca=>craActivity.Activity.TypeActivity)</td>
                    <td>@Html.DisplayFor(ca=>craActivity.Activity.Client)</td>
                    <td>@craActivity.CRA.Date.ToString("d")</td>
                </tr>
            }
        </table>

        @if (User.IsInRole("MANAGER") && Model.Cra.State == NoviaReport.Models.State.EN_COURS_DE_VALIDATION)
        {
            <a href="">Valider le CRA</a> //mettre le lien de l'action ValidateCRA
            <a href="">Renvoyer le CRA pour modification</a> //mettre le lien de l'action InvalidateCRA

        }
    </fieldset>
    @*/CRA/GetActivitiesCRA*@

</body>
</html>





