@model NoviaReport.Models.Activity
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateActivity</title>
</head>
<body>
    @using (Html.BeginForm())
    {
    <fieldset>
        <legend>Modifier une activité : </legend>

        @Html.LabelFor(m => Model.Date)
        @Html.TextBoxFor(m => Model.Date)
        @Html.ValidationMessageFor(m => Model.Date)
        <br />
        @Html.LabelFor(m => Model.Halfday)
        @Html.TextBoxFor(m => Model.Halfday)
        @Html.ValidationMessageFor(m => Model.Halfday)
        <br />
        @Html.LabelFor(m => Model.TypeActivity)
        @Html.TextBoxFor(m => Model.TypeActivity)
        @Html.ValidationMessageFor(m => Model.TypeActivity)
        <br />


        <input type="submit" value="Modifier" />
    </fieldset>
        <a href="/CRA/UpDateActivity"></a>
    }
   
</body>
</html>
