@model NoviaReport.Models.CRA
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Modifier un CRA</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        <fieldset>
            <legend>Modifier une activité : </legend>

            @Html.LabelFor(m => Model.Date)
            @Html.TextBoxFor(m => Model.Date)
            @Html.ValidationMessageFor(m => Model.Date)
            <br />
            @Html.LabelFor(m => Model.State)
            @Html.TextBoxFor(m => Model.State)
            @Html.ValidationMessageFor(m => Model.State)
            <br />



            <input type="submit" value="Modifier" />
        </fieldset>
        <a href="/CRA/UpDateCRA"></a>
    }

</body>
</html>