@model NoviaReport.ViewModels.UserViewModel

@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/Bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/StyleEspaceLogin.css" />
    <title>Connexion</title>
</head>
@if (Model.Authentifie)
{
    <div class="center">
        <div>
            <img src="./Images/4.png" alt="texte alternatif" />
        </div>
        <div>
        <h3>
            Vous êtes déjà authentifié avec le login :
            @Model.User.Login
        </h3>
        @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
        </div>
    </div>
}
else
{
    <body>

        <div class="center">
            <img src="./Images/4.png" alt="texte alternatif" />
            <form method="post">
                <div class="txt_field">
                    @Html.TextBoxFor(m => m.User.Login)
                    <span></span>
                    @Html.LabelFor(m => m.User.Login)
                    @Html.ValidationMessageFor(m => m.User.Login)
                </div>
                <div class="txt_field">
                    @Html.PasswordFor(m => m.User.Password)
                    <span></span>
                    @Html.LabelFor(m => m.User.Password)
                    @Html.ValidationMessageFor(m => m.User.Password)
                </div>
                <div class="pass"><a href="/Login/ForgetPassword">Mot de passe oublié?</a></div>

                <input type="submit" value="Connexion" />
                <div class="signup_link">
                    Vous n'êtes pas membre? <a href="/user/createuser">S'inscrire</a>
                </div>
            </form>
        </div>
    </body>
}
</html>